<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jk.mapper.MainMapper" >
  
  
  <!-- <select id="queryList" resultType="com.jk.model.UserBean">
      select * from fsx_user
   </select>-->
   <!-- （分页）查询主表  -->
   <select id="selectCount" resultType="int" parameterType="com.jk.model.UserBean">
        select count(distinct t.id)
	    from five_maven_user t

	    left join five_maven_dept d on t.deptId = d.id
	    left join areabean ar on t.province=ar.id
        left join areabean aar on t.city=aar.id
           left join five_maven_userRole ur  on t.id = ur.userId
           left join five_maven_role r on r.id= ur.roleId

     </select>
   <select  id="selectPage"  resultType="com.jk.model.UserBean"   parameterType="map">
      select *, d.name  deptName,
      ar.name  provinceName,aar.name   cityName ,
      GROUP_CONCAT(r.name) roleName,
      GROUP_CONCAT(r.id) roleId
      from five_maven_user t

      left join five_maven_dept d on t.deptId = d.id
      left join areabean ar on t.province=ar.id
      left join areabean aar on t.city=aar.id
      left join five_maven_userRole ur  on t.id = ur.userId
      left join five_maven_role r on r.id= ur.roleId
      <include refid="searchSql"></include>
      group by t.id order by t.id desc

      limit #{start},#{rows}
   </select>
   <!--  -->
   <sql id="searchSql">
      where 1=1
      <if test="userBean.name!=null and userBean.name!=''">
         and t.name like '%${userBean.name}%'
      </if>

      <if test="userBean.startTime != null and userBean.startTime != '' ">
         and t.birth >= #{userBean.startTime}
      </if>
      <if test="userBean.endTime != null and userBean.endTime != '' ">
         and t.birth &lt;= #{userBean.endTime}
      </if>

   </sql>

 
</mapper>